{
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "quoteProps": "preserve",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "bracketSameLine": true,
  "trailingComma": "none"
}
